body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
    color:rgb(45, 30, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s ease;}

button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff; /* Azul profesional */
    color: white;
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Una pequeña sombra */
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Un azul más oscuro */
    transform: translateY(-2px); /* El botón sube un poquito */
}